*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.page-body{
    display:flex;
    flex-direction: column;
    background-color: #376b3ed8;
}

.navigation-bar{
    display:flex;
    justify-content: space-around;
    color: white;
    padding:20px;
    font-size: 15px;
    font-weight: 500;
    background-color:#2b5130d8;
}

.heading{
    display:flex;
    justify-content: center;
    font-size:25px;
    font-weight: 700px;
    color:white;
    padding:20px;
}

.descrip-container{
    display: flex;
    justify-content: center;
    gap:10px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description-heading{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 30px;
    font-weight:700px;
    color:#f0f7e8;
}

.description-paragraph{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 15px;
    color:white;
    max-width: 500px;
}

.projects-tile{
    display:flex;
    justify-content: space-around;
    padding:20px;
}

.individual-project{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    color:#f0f7e8;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 5px;
}

.project-headings{
    color:#f0f7e8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:25px;
}
/*We need to add an icon next to the description of a computer with code or human coding*/